<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<section id="todoapp">
    <header id="header">
        <h1>Todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
        <div>
            <a href="#/">show all</a> |
            <a href="#/pending">show pending</a> |
            <a href="#/completed">show completed</a>
        </div>
    </header>
    <section id="main">
        <ul id="todo-list"></ul>
    </section>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>

<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <input class="edit" value="<%- title %>">
        <button class="destroy">remove</button>
    </div>
</script>


<script>
// YOUR CODE GOES HERE!!!!

$(function(){
    var Todo = Backbone.Model.extend({
        defaults: {
            title: "",
            completed: false
        },
        changeState: function() {
            this.set({completed: !this.get("completed")});
        }
    });

    var TodoList = Backbone.Collection.extend({
        model: Todo,
        getCompletedItems: function() {
            return this.where({completed:true});
        },
        getRemainingItems: function() {
            return this.where({completed:false});
        }
    });

    var todoList = new TodoList();

    var TodoView = Backbone.View.extend({
        tagName: "li",
        template: _.template($("#item-template").html()),
        events: {
            "click .toggle": "clickCheckbox"
        },
        clickCheckbox: function() {
            this.model.changeState();
        },
        render: function() {
            this.$el.html(this.template(this.model.attributes));
            return this;
        }
    });

    var AppView = Backbone.View.extend({
        el: "#todoapp",
        initialize: function() {
            this.input = this.$("#new-todo");
            this.listenTo(todoList, 'add', this.addOne);
            this.listenTo(todoList, 'reset', this.addAll);
        },
        addOne: function(item) {
            var itemView = new TodoView({model: item});
            this.$("#todo-list").append(itemView.render().el);
        },
        events: {
            "keypress #new-todo": "addOnEnter"
        },
        addOnEnter: function(e) {
            if( e.which !== 13 || !this.input.val().trim()) { return; }

            var newItem = {
                title: this.input.val().trim()
            }

            todoList.add(newItem);
            this.input.val('');
        },
        addAll: function(){
            this.$('#todo-list').html(''); // clean the todo list
            // filter todo item list
            switch(window.filter){
                case 'pending':
                    _.each(todoList.getRemainingItems(), this.addOne);
                    break;
                case 'completed':
                    _.each(todoList.getCompletedItems(), this.addOne);
                    break;
                default:
                    todoList.each(this.addOne, this);
                    break;
            }
        }
    });



    var Router = Backbone.Router.extend({
        routes: {
            '*filter' : 'setFilter'
        },
        setFilter: function(params) {
            console.log('app.router.params = ' + params); // just for didactical purposes.
            if(params) {
                window.filter = params.trim();
            } else {
                window.filter = '';
            }
            todoList.trigger('reset');
        }
    });

    router = new Router();
    Backbone.history.start();
    var appView = new AppView();
});

</script>

</body>