<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<section id="todoapp">
    <header id="header">
        <h1>Todos</h1>
        <input id="new-todo" placeholder="What needs to be done?">
    </header>
    <section id="main">
        <ul id="todo-list"></ul>
    </section>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>

<script type="text/template" id="item-template">
    <div class="view">
        <!--<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>-->
        <span class="toggle"><%= completed ? 'O' : 'X' %></span>
        <label><%- title %></label>
        <input class="edit" value="<%- title %>">
    </div>
</script>


<script>
// YOUR CODE GOES HERE!!!!
$(function(){
    var Todo = Backbone.Model.extend({
        defaults: {
            title: "",
            completed: false
        },
        changeState: function() {
            this.set({completed: !this.get("completed")})
        }
    });

    var TodoList = Backbone.Collection.extend({
        model: Todo
    });

    var todoList = new TodoList();

    var TodoView = Backbone.View.extend({
        tagName: "li",
        template: _.template($("#item-template").html()),
        initialize: function() {
            this.listenTo(this.model, "change", this.render);
            this.listenTo(this.model, "destroy", this.remove);
        },
        render: function() {
            this.$el.html(this.template(this.model.attributes));
            return this;
        },
        events: {
            "click .toggle": "changeItemState",
            "dblclick label": "activateEditMode",
            "keypress .edit": "updateItem",
            "blur .edit": "closeEditMode"
        },
        changeItemState: function() {
            this.model.changeState();
        },
        activateEditMode: function() {
            this.$el.addClass("editing");
        },
        updateItem: function(e) {
            if( e.which === 13) {
                this.closeEditMode();
            }
        },
        closeEditMode: function() {
            var newTitle = this.$(".edit").val().trim();
            if (newTitle !== "") {
                this.model.set({title: newTitle});
            } else {
                this.model.destroy();
            }
            this.$el.removeClass("editing");
        }
    });

    var AppView = Backbone.View.extend({
        el: "#todoapp",
        initialize: function() {
            this.newItemTitleInput = this.$("#new-todo");
            this.listenTo(todoList, "add", this.addNewItemOnList);
        },
        events: {
            "keypress #new-todo": "addOnEnter"
        },
        addOnEnter: function(e) {
            if ( e.which !== 13 || !this.newItemTitleInput.val().trim() ) { return; }
            var newItem = {
                title: this.newItemTitleInput.val().trim()
            };
            todoList.add(newItem);
            this.newItemTitleInput.val('');
        },
        addNewItemOnList: function(item) {
            var newItemView = new TodoView({model: item});
            this.$("#todo-list").append(newItemView.render().el);
        }
    });

    var appView = new AppView();


});


</script>

</body>