<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/todo.css"/>
    <title>Document</title>
</head>
<body>

<div id="todoapp">
    <header>
        <h1>Todos</h1>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">

        </ul>
    </section>

    <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="todo-count"></div>
    </footer>
</div>

<div id="instructions">
    Double-click to edit a todo.
</div>

<div id="credits">
    Created by
    <br />
    <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
    <br />Rewritten by: <a href="http://addyosmani.github.com/todomvc">TodoMVC</a>.
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>


<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
        <label><%- title %></label>
        <button class="destroy">X</button>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="stats-template">
    <% if (done) { %>
    <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>

<script>
$(function(){

    // Each Model
    var Todo = Backbone.Model.extend({
        defaults: {
            title: "empty todo...",
            // TODO order adding
            done: false
        },
        toggle: function() {
            this.set({done: !this.get("done")});
        }
    });

    // Model Collection
    var TodoList = Backbone.Collection.extend({
        model: Todo,
        getDoneItems: function() {
            return this.where({done: true});
        },
        getRemaingItems: function() {
            return this.where({done: false});
        }

        // TODO order adding
    });

    var Todos = new TodoList;

    // Each ITEM View
    var TodoView = Backbone.View.extend({
        tagName: "li",
        itemTemplate: _.template($("#item-template").html()),
        events: {
            "click .toggle"     : "toggleDone",
            "dblclick .view"    : "edit",
            "click button.destroy"   : "delete",
            "keypress .edit"    : "updateOnEnter",
            "blur .edit"        : "close"
        },

        initialize: function() {
            this.listenTo(this.model, 'change', this.render);
            this.listenTo(this.model, 'destroy', this.remove);
        },

        render: function() {
            // View 전체의 html을 인자로 바꾼다.
            // itemTemplate에 인자가 왜 있는거지?? 이해할 수 없음
            this.$el.html(this.itemTemplate(this.model.toJSON()));
            if ( this.model.get('done') ) {
                this.$el.addClass( 'done' );
            } else {
                this.$el.removeClass( 'done' );
            }
            this.inputTag = this.$('.edit');
            return this;
        },

        // view functions
        toggleDone: function() {
            this.model.toggle();
        },

        edit: function() {
            this.$el.addClass("editing");
            this.inputTag.focus();
        },

        close: function() {
            var value = this.inputTag.val();
            if (!value) {
                this.delete();
            } else {
                this.model.set({title: value});
                this.$el.removeClass("editing");
            }
        },

        updateOnEnter: function(e) {
            if (e.keyCode === 13) this.close();
        },

        delete: function() {
            this.model.destroy();
        }
    });

    var AppView = Backbone.View.extend({
        el: $("#todoapp"),
        statsTemplate: _.template($("#stats-template").html()),
        events: {
            "keypress #new-todo"    : "createOnEnter",
            "click #clear-completed": "clearCompleted",
            "click #toggle-all"     : "toggleAllComplete"
        },
        initialize: function() {
            this.inputTag=  this.$("#new-todo");
            this.allCheckbox = this.$("#toggle-all")[0];

            this.listenTo(Todos, 'add', this.addOne);
            this.listenTo(Todos, 'reset', this.addAll);
            this.listenTo(Todos, 'all', this.render);

            this.footer = this.$("footer");
            this.main = $("#main");
        },
        render: function() {
            var doneCount = Todos.getDoneItems().length;
            var remainingCount = Todos.getRemaingItems().length;
            console.log(remainingCount);

            if(Todos.length) {
                this.main.show();
                this.footer.show();
                this.footer.html(this.statsTemplate({done: doneCount, remaining: remainingCount}));
            } else {
                this.main.hide();
                this.footer.hide();
            }

            if(remainingCount === 0) {
                this.allCheckbox.checked = "checked";
            } else {
                this.allCheckbox.checked = "";
            }
        },

        // item 인자가 어디서 났지?
        addOne: function(item) {
            var itemView = new TodoView({model: item});
            this.$("#todo-list").append(itemView.render().el);
        },

        addAll: function() {
            Todos.each(this.addOne, this);
        },

        createOnEnter: function(e) {
            if (e.keyCode != 13) return;
            if (!this.inputTag.val()) return;
            Todos.add({title: this.inputTag.val()});
            this.inputTag.val('');
        },

        clearCompleted: function() {
            _.invoke(Todos.getDoneItems(), 'destroy');
            return false;
        },

        toggleAllComplete: function () {
            var done = this.allCheckbox.checked;
            Todos.each(function (todo) { todo.set({'done': done}); });
        }

    });

    var App = new AppView;

});
</script>

</body>
</html>